@using SimpleText.Models
@using SimpleText.data
@model SText

@{
    ViewData["Title"] = "This is Task Page";
}


    <form method="post" asp-controller="Text" asp-action="Vtext">
        <h2>Sample text to analyze</h2>
        <p>
            <label>Update text for new analyze</label>
            <br />
            <textarea id="formText" name="formText" rows="10" cols="100">@GetText.PText</textarea>
        </p>
        <br />
        <button type="submit">Analyze</button>

    </form>