@using SimpleText.Models
@model SText

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VText</title>
</head>
<body>
    <h2>Text for analyze</h2>

    <div>
        <textarea rows="10" cols="100">@Model.TextToAnalyze</textarea>
    </div>
    <br />
    <div>
        <table border="1" width="723px">
            <caption>Metrics</caption>
            <tr>
                <th width="80%">Metrics</th>
                <th width="20%">Value</th>
            </tr>
            @{
                foreach (var line1 in Model.Metriks)
                {
                    <tr>
                        <td>@line1.Key</td>
                        <td>@line1.Value</td>
                    </tr>

                }
            }
        </table>
    </div>
</body>
</html>
